.all{
	width: 100%;
}

.content{
	width: 1006px;
	/*border: 1px solid blue;*/
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
}

.listsAll{
	/*border: 1px solid red;*/	
	width: 266px;
    float: left;
    margin-left: 5px;
}
.lists{
	margin-top: 5px;
	background-color: yellowgreen;
    width: 100%;
    height: 355px;
    background-color: #FFFFFF;
    box-shadow:0 0 0.5px 2px rgb(0,0,0,0.003);
}
#renqi{
	width: 100%;
	background-color: #FFFFFF;
	color: #333333;
	font-size: 13px;
	overflow: hidden;
	font-size: 13.5px;
	margin-bottom: 14px;
}
.rq_left{
	border-right: 1px solid #999999;
	float: left;
	text-align: center;
	width: 49.5%;
	padding-top: 10px;
	font-weight: 600;
}
.rq_right{
	float: right;
	text-align: center;
	width: 49.5%;
	padding-top: 10px;
	font-weight: 600;
}
#renqi p{
	margin-top: 2px;
	padding-bottom: 10px;
	font-weight: 500;
	font-size: 12.5px;
}

.dt{
	width: 100%;
	background-color: #FFFFFF;
	height: 480px;
}
.first{
	color: #4DBDD7;
	font-size: 13px;
	width: 80%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #B6BCBD;
	overflow: hidden;
}
.first span{
	float: right;
}
.dt ul{
	list-style-type: none;
	width: 80%;
	color: #333333;
	font-size: 13px;
	margin: 0 auto;
}
.dt li{
	width: 100%;
	overflow: hidden;
	border-bottom: 1px dashed #B6BCBD;
	padding: 10px 0;
}
.dt li span{
	float: right;
}

.question{
   width: 712px;
   float: right;
   margin-left: 5px;
}
#person_1{
	list-style-type: none;
	background-color: #FFFFFF;
	color: #333333;
	width: 100%;
	font-size: 13.5px;
	overflow: hidden;
	height: 56px;
	margin-bottom: 14px;
}
#person_1 li{
	float: left;
	text-align: center;
	font-weight: 600;
	margin-left: 32px;
	cursor: pointer;
	line-height: 56px;
}
#person_1 li:first-child{
	margin-left: 38px;
	color: #4DBDD7;
}

#uls{
	width: 100%;
	list-style-type: none;
}
#uls li{
	position: relative;
	width: 100%;
	/*height: 98px;*/
	margin-bottom: 5px;
	background-color: #FFFFFF;
	box-shadow:0 0 0.5px 2px rgb(0,0,0,0.003);
}

.status{
	position: absolute;
	right: 4px;
	top: 3px;
}
#uls table{
	padding: 20px 0 20px 30px;
	width: 100%;
}
.d1{
	width: 11%;
}
.wh{
	width: 52px;
}
.tx_out{
	width: 52px;
	height: 52px;
	border: 1px solid transparent;
	border-radius: 50%;
	overflow: hidden;
}
.problem{
	color: #231815;
	font-size: 13px;
	line-height: 25px;
	font-weight: 600;
}
.problem a{
	color: #231815;
	text-decoration: none;
}
.xuanshang{
	display: inline-block;
	width: 60px;
	height: 16.5px;
	vertical-align: middle;
	margin-bottom: 2px;
	border: 1px solid #FF9900;
	overflow: hidden;
	line-height: 16px;
	margin-left: 3px;
}
.xs_left{
	float: left;
	background-color: #FF9900;
	font-size: 11px;
	text-align: center;
	width: 50%;
	height: 100%;
	color: #FFFFFF;
}
.xs_right{
	height: 100%;
	background-color: #FFFFFF;
	width: 50%;
	font-size: 11px;
	text-align: center;
	float: right;
	color: #FF9900;
}
.name{
	color: #231815;
	font-size: 12.9px;
}
.time{
	color: #9FA0A0;
	font-size: 12.9px;
	margin-left: 20px;
} 
.gn{
	float: right;
}
.gn img{
	vertical-align: middle;
}
.gn span{
	margin-right: 17px;
}
.gn span:last-of-type{
	margin-right: 24px;
}
kbd{
	font-size: 9px;
	color: #999999;
	margin-left: 2px;
}	