<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Index/css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Index/css/common.css"/>
		<script type="text/javascript" src="__PUBLIC__/Index/js/jquery-3.3.1.min.js"></script>
	</head>
	<body>
		<!-- 引入头部 -->
	<include file='Common:top'/>
	<div id="footers"></div>
	
	<div class="all">
		<div class="content">
		<div class="question">	
		<ul id="ulz">
			<li>全部</li>
			<li>问题</li>
			<li>笔记</li>
			<li>话题</li>
		</ul>	
		<div id="biaoti">
			<table class="ble1">
				<tr><td><img src="__PUBLIC__/Index/img/touxiang.png"/></td><td>{$label.lab_name}</td></tr>
			</table>
			<p>{$label.lab_introduce}</p>
			<table class="ble2">
				<tr>
				     <input type="hidden" class="lab_id" value="{$label.lab_id}">
					<td class="td1"><span class="td1_a"><img src="__PUBLIC__/Index/img/wh3_03.png"/>240</span><span class="td1_b"><img src="__PUBLIC__/Index/img/bj3_03.png"/>150</span></td>
					<td class="td2"><span class="blue">已有<span class="attent_number">{$label.attent_number}</span>人关注</span><button class="ps_right">关注</button></td> 
				</tr>
			</table>
		</div>
		
		<ul id="uls">
		           <?php foreach($question as $key => $val){?>


			<li>
			<table>
			<tr>
				<td rowspan="2" class="d1">
				<div class="tx_out">

				<?php if(!$val['user_face']){?>
				<img src="__PUBLIC__/Index/img/touxiang.jpg" class="wh"/>
				<?php }else{?>
				<img src="__ROOT__/<?php echo $val['user_face']?>" width="70"  hight="70" alt="">

				<?php }?>
				</div>
				</td>
				<td class="problem" colspan="2"><?php echo $val['title']?><!-- <div class="xuanshang"><div class="xs_left">悬赏</div><div class="xs_right"><span>10</span><img src="__PUBLIC__/Index/img/k_03.jpg"/></div></div>	 -->				
				</td>
			</tr>
			<tr><td class="d2"><span class="name"><?php echo $val['user_name']?></span><span class="time"><?php echo jishuantime($val['quiz_time']); ?></span><div class="gn"><span><img src="__PUBLIC__/Index/img/ll.jpg"/><kbd>12</kbd></span><span><img src="__PUBLIC__/Index/img/pl.jpg"/><kbd>12</kbd></span></div></td></tr>
			</table>	
			<img src="__PUBLIC__/Index/img/wh.png" class="status"/>
			</li>



			<?php }?>

			
			<li>
			<table>
			<tr><td rowspan="2" class="d1">
			<img src="__PUBLIC__/Index/img/touxiang.png" class="wh"/></td><td class="problem" colspan="2">区块链技术是什么？未来应用于哪些方向？</td></tr>
			<tr><td class="d2"><span class="name">画插画差</span><span class="time">3小时前</span><div class="gn"><span><img src="img/ll.jpg"/><kbd>12</kbd></span><span><img src="__PUBLIC__/Index/img/pl.jpg"/><kbd>12</kbd></span></div></td></tr>
			</table>	
			<img src="__PUBLIC__/Index/img/whd.jpg" class="status"/>
			</li>
			
			<li>
			<table>
			<tr><td rowspan="2" class="d1"><img src="__PUBLIC__/Index/img/touxiang.png" class="wh"/></td><td class="problem" colspan="2">区块链技术是什么？未来应用于哪些方向？</td></tr>
			<tr><td class="d2"><span class="name">画插画差</span><span class="time">3小时前</span><div class="gn"><span><img src="__PUBLIC__/Index/img/ll.jpg"/><kbd>12</kbd></span><span><img src="__PUBLIC__/Index/img/pl.jpg"/><kbd>12</kbd></span></div></td></tr>
			</table>	
			<img src="__PUBLIC__/Index/img/bj.jpg" class="status"/>
			</li>
			<li>
			<table>
			<tr><td rowspan="2" class="d1"><img src="__PUBLIC__/Index/img/touxiang.png" class="wh"/></td><td class="problem" colspan="2">区块链技术是什么？未来应用于哪些方向？</td></tr>
			<tr><td class="d2"><span class="name">画插画差</span><span class="time">3小时前</span><div class="gn"><span><img src="__PUBLIC__/Index/img/ll.jpg"/><kbd>12</kbd></span><span><img src="__PUBLIC__/Index/img/pl.jpg"/><kbd>12</kbd></span></div></td></tr>
			</table>	
			<img src="__PUBLIC__/Index/img/bj.jpg" class="status"/>
			</li>
			<li>
			<table>
			<tr><td rowspan="2" class="d1"><img src="__PUBLIC__/Index/img/touxiang.png" class="wh"/></td><td class="problem" colspan="2">区块链技术是什么？未来应用于哪些方向？</td></tr>
			<tr><td class="d2"><span class="name">画插画差</span><span class="time">3小时前</span><div class="gn"><span><img src="__PUBLIC__/Index/img/ll.jpg"/><kbd>12</kbd></span><span><img src="__PUBLIC__/Index/img/pl.jpg"/><kbd>12</kbd></span></div></td></tr>
			</table>	
			<img src="__PUBLIC__/Index/img/bj.jpg" class="status"/>
			</li>
			<li>
			<table>
			<tr><td rowspan="2" class="d1"><img src="__PUBLIC__/Index/img/touxiang.png" class="wh"/></td><td class="problem" colspan="2">区块链技术是什么？未来应用于哪些方向？</td></tr>
			<tr><td class="d2"><span class="name">画插画差</span><span class="time">3小时前</span><div class="gn"><span><img src="__PUBLIC__/Index/img/ll.jpg"/><kbd>12</kbd></span><span><img src="img/pl.jpg"/><kbd>12</kbd></span></div></td></tr>
			</table>	
			<img src="__PUBLIC__/Index/img/bj.jpg" class="status"/>
			</li>
			<li>
			<table>
			<tr><td rowspan="2" class="d1"><img src="__PUBLIC__/Index/img/touxiang.png" class="wh"/></td><td class="problem" colspan="2">区块链技术是什么？未来应用于哪些方向？</td></tr>
			<tr><td class="d2"><span class="name">画插画差</span><span class="time">3小时前</span><div class="gn"><span><img src="__PUBLIC__/Index/img/ll.jpg"/><kbd>12</kbd></span><span><img src="__PUBLIC__/Index/img/pl.jpg"/><kbd>12</kbd></span></div></td></tr>
			</table>	
			<img src="__PUBLIC__/Index/img/bj.jpg" class="status"/>
			</li>
			
			<li>
			<table>
			<tr><td rowspan="2" class="d1"><img src="__PUBLIC__/Index/img/touxiang.jpg" class="wh"/></td><td class="problem" colspan="2">区块链技术是什么？未来应用于哪些方向？</td></tr>
			<tr><td class="d2"><span class="name">画插画差</span><span class="time">3小时前</span><div class="gn"><span><img src="img/ll.jpg"/><kbd>12</kbd></span><span><img src="__PUBLIC__/Index/img/pl.jpg"/><kbd>12</kbd></span></div></td></tr>
			</table>	
			<img src="__PUBLIC__/Index/img/bj.jpg" class="status"/>
			</li>
		</ul>
		<div><img src="__PUBLIC__/Index/img/timg.gif" style="width: 350px;margin-left: 100px;display: none;" id="load"/></div>
		</div>
		
		<div class="listsAll">
		<div class="lists">
			<div class="title_1">
				<p>热门话题</p>
			</div>
			<ul>
				<li>1.以太坊钱包 </li>
			    <li>2.去中心化交易算</li>
			</ul>
		</div>	
		</div>
	</div>
	<img src="img/top.jpg" id="top"/>
	<div class="bj"></div>
	</body>
	<script src="__PUBLIC__/Index/js/common.js" type="text/javascript"></script>
	<script type="text/javascript">
	$('#ulz li').click(function (){
		$('#ulz li').css('color','#333333');
		$(this).css('color','#4DBDD7');
	});

		$('.ps_right').click(function(){
			
		 
          var lab_id=$('.lab_id').val();
		  //alert(lab_id);
		  $.ajax({
                  type:"post",
                  url:"{:U('Topic/attention')}",
                  data:{lab_id:lab_id},
                  success: function(msg){
                     //alert(msg);
                          if(msg==0){
                            alert('请先登录！');
                          }
                          if(msg==1){
                            alert('您已经关注啦！');
                          }
                          
                          if(msg==2){
                            alert('关注失败');
                          }
                          if(msg['status']==3){

                          var str = '<span>'+msg['attent_number']+'</span>';
                          
                           $('.attent_number').html(str);
                          }
                            
                        

                   }
                          
                          
                          
            })
			

	})
	
	</script>
</html>
